#burger-checkbox {
    display: none;
}

.burger-icon {
    font-size: 2rem;
    color: white;
    float: right;
    padding-top: 15px;
    padding-right: 20px;
}

.header__nav {
    display: none;
}

#burger-checkbox:checked ~ .header__nav {
    display: flex;
}

@media (min-width: 600px) {
    .burger-icon {
        display: none;
    }
    .header-nav__menu {
        display: flex;
    }