.construction-section__header {
    font-family: 'Roboto',sans-serif;
    color: rgb(255, 255, 255);
}
.green-letters {
    color: rgb(206, 224, 2);
}
.round-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.construction-section-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(255, 255, 255, 0.02);

}