.description {
    color:#cee002;
}
.cottages-slides {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.photo {
    object-fit:cover; 
    object-position:48.064% 50.587%;
    max-width: 460px;
}
.yellow {
    color: yellow;
    text-transform: uppercase;
}
.arrow {
    height: 18px;
}
.contact-form {
    color: white;
    font-size: 17px;
}