@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@500&display=swap');
.cottages-slides {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}
.name-and-price {
    padding: 10px;
}
.product-photo {
    object-fit: cover;
    display: block;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

.cottage-name-color {
    color: yellow;
    text-transform: uppercase;
}
.arrow {
    height: 18px;
}
.contact-form {
    color: white;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.wrapper {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
}
.wrapper div {
    width: 100%;
    text-align: left;
}

.description{
    margin-bottom: 32px;
}

.small-icon {
    height: 18px;
}
.nn > * {
    display: inline-block;
}

}
@media (max-width: 320px) {
    .cottages-slides {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 481px) {
    .cottages-slides {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 769px) {
    .cottages-slides {
        grid-template-columns: 1fr;
    }
}
