.cottages-slides {
	display: grid;
	grid-template-columns: 1fr;
    max-width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
	}

    .slide {
        width: 100%;
        margin-bottom: 10px;
        position: relative;
    }

    .photo-container {
        width: 96vw;
        height: 60vw;
    }

    .product-photo {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
	
	.wrapper {
	display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
	}

    .wrapper div {
        width: 100%;
        text-align: left;
        width: 100%;
    }

    .cottage-name-color {
        color: yellow;
        text-transform: uppercase;
    }

    .heading-elements > * {
        display: inline-block;
        font-size: 15px;
        vertical-align: middle;

    }
    .small-icon {
        height: 18px;
    }
    .description{
        margin-bottom: 32px;
        width: 100%;
    }
    .contact-form {
        color: white;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
    }
    .arrow-position {
        vertical-align: middle;
    }
    .choose-cottage {
        position: absolute;
        bottom: 5px;
    }

    @media (min-width: 700px) {
        .cottages-slides {
            grid-template-columns: 1fr 1fr;
        }
        .photo-container {
            object-fit: cover;
            width: 300vw;
            height: 20vw;
            width: 100%;
        }
    }
    @media (min-width: 991px) {
        .cottages-slides {
            grid-template-columns: 1fr 1fr 1fr;        
        }
        .photo-container {
            object-fit: cover;
            width: 30vw;
            height: 20vw;
        }
    }