.cottages-slides {
	display: flex;
    max-width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
	}

    .slide {
        width: 100%;
        margin-bottom: 10px;
        position: relative;
        margin-left: 8px;
        margin-right: 8px;
    }

    .photo-container {
        width: 96vw;
        height: 60vw;
    }

    .product-photo {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
	
	.wrapper {
	display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
	}

    .wrapper div {
        width: 100%;
        text-align: left;
        width: 100%;
    }

    .cottage-name-color {
        color: yellow;
        text-transform: uppercase;
    }

    .heading-elements > * {
        display: inline-block;
        font-size: 15px;
        vertical-align: middle;

    }
    .small-icon {
        height: 18px;
    }
    .description{
        margin-bottom: 32px;
        width: 100%;
    }
    .contact-form {
        color: white;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
    }
    .arrow-position {
        vertical-align: middle;
    }
    .choose-cottage {
        position: absolute;
        bottom: 5px;
    }
    @media (min-width: 700px) {
        .cottages-slides {
            grid-template-columns: 1fr 1fr;
        }
        .photo-container {
            object-fit: cover;
            width: 300vw;
            height: 20vw;
            width: 100%;
        }
        .heading-elements > * {
            font-size: 13px;  
        }
    }
    @media (min-width: 991px) {
        .cottages-slides {
            grid-template-columns: 1fr 1fr 1fr;        
        }
        .photo-container {
            object-fit: cover;
            width: 32vw;
            height: 20vw;
        }
        .heading-elements > * {
            font-size: 15px;  
        }
    }
    .cottages_carousel {
        position: relative;
    }

    .cottage-carousel__button {
        position: absolute;
        z-index: 10;
        top: 16vw;
        background: none;
        border: none;
        font-size: 2rem;
        color: rgba(255, 255, 255, .5);
        cursor: pointer;
        border-radius: .25rem;
        padding: 0 .5rem;
        background-color: rgba(0, 0, 0, 0.5);
      }
        .cottage-carousel__button:hover,
        .cottage-carousel__button:focus {
        color: white;
        background-color: rgba(0, 0, 0, 0.603);
        }

        .cottage-carousel__button:focus {
        outline: 1px solid black;
        }

        .cottage-carousel__button.back {
            left: 8px;
        }

        .cottage-carousel__button.forward {
            right: 5px;
        }
