.products-carousel {
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 80px 0px;
    
  }
  .products-carousel__slide {
  display: flex;
    padding: 0px 40px;
    
    
  }
  .slider__item {
   padding: 0px 15px;
   justify-content: center;
   text-align: center;
   width: 390px;
   background-color: #FFFFFF08;
  }
  .products-carousel__button {
    border-radius: 50%;
    height: 32px;
    background-color: crimson;
    margin: auto 5px auto 5px;
  }
  
  