.havent-you-decided-section a {
    background-color:#23262d;
    font-family: 'Roboto';
    color: rgb(132,132,132)
    
}
.yellow-letters {
    color: #cee002;
}
.havent-you-decided-section-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}