@media (max-width: 420px){
    .header_nav_logo{
        left: 15px;
    }
    .header_banner_img img{
        width: 1000px;
        height: 470px;
    }
    .header_banner_h1{
        top: 200px;
        left: 20px;
        
    }
    .header_banner_h1_first-name{
        font-size: 45px;
    }
    .header_banner_text_h1{
        font-size: 45px;
    }
    .header__banner-subheadeing{
        top: 300px;
        left: 20px;
    }
    .header_banner_button{
        top: 380px;
        left: 20px;
    }
}