.header-nav-logo img{
  width: 220px;
  padding-left: 20px;
  padding-top: 20px;;
}

.header__nav{
display: flex;
flex-direction: column;
padding-left: 20px;
}
.header-nav-menu-item{
  text-decoration: none;
  color: #bababa;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.header-nav-menu-item:hover{
  color: white;
}
.header__top-nav-phone-call-us{
  color: rgb(206, 224, 2);
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.phone_number a{
  text-decoration: none;
  color: #bababa;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding-left: 5px;
}

.header__banner{
  background-image: url(../img/home.webp);
  background-size: cover;
  min-height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header__banner-subheadeing{
  padding-right: 10px;
  padding-top: 30px;
  color: #bababa;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.header_banner_h1{
  color: rgb(206, 224, 2);
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.header_banner_h2{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: bold;
  padding-left: 10px;
}

.header_banner_h1-h2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_banner_button{
  font-family: 'Roboto',sans-serif;
    font-style: normal;
    text-transform: none;
    font-weight: bold;
    color: #23262d;
    background-color: #cee002;
    font-size: 16px;
    
width: 170px;
height: 55px;
  transition: background 0.5s ease;
  border-color: transparent;
  margin-right: 90px;
  margin-top: 30px;
  cursor: pointer;
}

.header_banner_button:hover{
  background-color: white;
}

@media (min-width: 900px){
  .header-nav-menu > .container_nav{
     display: flex;
     max-height: 100px;

  }
  .header-nav-logo img{
    min-height: 60px;
  }
  .header__banner{
    min-height: 900px;

  }
  .header__nav{
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
    align-items: center;

  }
  .header-nav-logo img{
   padding-top: 10px;
  }
}