*{
  margin: 0%;
}
.header_banner_img img {
    width: 100%;
    max-height: 840px;
}
.header_nav_menu{
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #23262d;
    
}
.header_nav_logo { 
    position: relative;
    left: 210px;
    top: 3px
   }
  
    .header__top-nav-menu a{ 
        font-family: 'Roboto', sans-serif;
        font-weight: 400;    
        color: #bababa;
        flex: 1 1 auto;
        margin: 0 15px;
        font-size: 15px;
        position: relative;
        left: 20px;
        
  } 
  .header__top-nav-menu a:hover{ 
       
    color: whitesmoke;
    
}
  a{
     text-decoration: none; 
  }
  .header__top-nav-phone-call-us{
    font-family: 'Roboto', sans-serif; 
      font-weight: bold;
      color: #cee002;
      font-size: 15px;
  }
  .header__top-nav-phone {
      position: relative;
      right: 200px;
    color: #bababa;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  .header__top-nav-phone a{
  color: #bababa;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.header_banner_h1{
  font-family: 'Poppins',sans-serif;
    font-style: normal;
    text-transform: none;
    position: absolute;
  top: 340px;
  left: 400px;
    
}
.header_banner_h1_first-name{
  color:#cee002;
  font-size: 100px;
  padding: 0px 20px 0px 0px;
  
}
.header_banner_text_h1{
  color:azure;
  font-size: 100px;
  
}
.header__banner-subheadeing{
  font-family: 'Roboto', sans-serif;
  color: #bababa;
  font-weight: 400;
  font-size: 20px;
  position: absolute;
  top: 500px;
  left: 400px;
}
.header_banner_button{
  font-family: 'Roboto',sans-serif;
    font-style: normal;
    text-transform: none;
    font-weight: bold;
    color: #23262d;
    background-color: #cee002;
    font-size: 16px;
    
width: 170px;
height: 55px;
position: absolute;
  top: 570px;
  left: 400px;
  transition: background 0.5s ease;
  border-color: transparent;
}
.header_banner_button:hover{
  cursor: pointer;
  background: white;
}