   
    .consultation {
        color: white;
    }
    
    .input:focus {
        border: 5px solid;
    }
    
    * {
        margin: 0px;
        padding: 0px;
    }
    
    .request {
        width: 950px;
        height: 100px;
        padding: 60px;
        background-color: rgba(255, 255, 255, 0.03)
    }
    
    .consultation {
        float: left;
    }
    
    .form {
        float: right;
    }
    
    .send {
        height: 30px;
        width: 180px;
        background-color: #cee002!important;
    }
    
    input[type=text] {
        width: 180px;
    }
    
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@500&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
    
    .our_color_ {
        color: #cee002!important;
    }
    
    .our_team_header {
        font-family: 'Roboto',sans-serif;
        color: rgb(255, 255, 255);
    }
    
    @media (min-width: 765px) {
        .our_team-content {
            display: grid;
            grid-column-gap: 10px;
            grid-template-columns: 1fr 1fr;
            margin: 0;
        }
    }
    
    @media (min-width: 1000px) {
        .our_team-content {
            display: grid;
            grid-column-gap: 10px;
            grid-template-columns: 1fr 1fr 1fr;
            margin: 0;
            }
    }
    
    .our_team-content_item {
        padding: 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        padding-top: 17px;
        padding-bottom: 30px;
        background: rgba(255, 255, 255, 0.02);
        font-size: 100%;
        line-height: 2.5;
        font-family: 'Poppins', sans-serif;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    @media (min-width: 765px) {
        .our_team_header {
            display: grid;
            gap: 10px;
            grid-template-columns: 1fr 1fr;
        }
    }
    .our_team_header {
       justify-content: space-around;
       font-size: 25px; 
       color: white;
       font-family: 'Poppins', sans-serif;
       margin-left: 20px;
       margin-top: 120px;
       margin-right: 20px;
       margin-bottom: 40px;
       position: static;
    }
    